@import url("./Assets/mononoki");
body {
    margin: 0;
    padding: 0;
    background: var(--default-background);
    font-family: "Satoshi Variable";
    overflow-y: scroll;
    overflow-x: hidden;
  
}
html {
    scroll-behavior: smooth;
}
:root {
    --default-red: rgb(206,54,92);
    --default-white: rgb(244, 244, 244);
    --default-green: rgb(92,179,129);
    --default-blue:rgb(101,192,238);
    --default-yellow: rgb(226,181,75);
    --default-background: rgb(23,24,28);
}
a {
    text-decoration: none;
    color: var(--default-white)
}

/* HEADER*/
.header {
    background: var(--default-background);
    box-sizing: border-box;
    z-index: 2;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid var(--default-white);
}
.header a {
    font-size: 1.25em;
    transition: .2s;
}
.header a:hover {
    color: var(--default-blue)
}
.gh-logo {
    filter:invert(1)drop-shadow(1px 1px 2px var(--default-red));
    width: 2em;
    transition: .3s ease
}
.gh-logo:hover {
    filter: invert(1)drop-shadow(1px 1px 5px var(--default-green))
}
.header nav {
    display: flex;
    gap: 50px;
    align-items: center;
}
/* SECTIONS */
.section {
    min-height: 100vh;
    position: relative;
}
.scroll-logo {
    position: absolute;
    filter: invert(.5);
    bottom: 7%;
    left: 50%;
    animation: bounce 2s infinite
}
.scroll-logo:hover {
    filter: invert(1)
}
/* GREETNG */
#Greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-white);
    font-size: 2em;
}
.greeting-box {
    width: 40%;
    transform: translateY(-10%);
    text-align: center;
}
.highlight {
    color: var(--default-yellow);
}






/* ABOUT */
#About {
    position: relative;
}
.about-box {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
}
.about-box h1 {
    font-size: 3em;
    color: var(--default-blue);
    margin-bottom: 20px;
}
.about-details {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 40px;
    align-items: center;
}
.about-details p {
    font-size: 2em;
    color: vaR(--default-white);
}
.btn-container {
    display: flex;
    gap: 20px;
}
.btn-container button, .btn-container a {
    padding: 5px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;  
    border: 1px solid var(--default-blue);
    border-radius: 5px;
}
.skills-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}
#skill {
    background: var(--default-blue);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    color: white;

}
#skill p {
    font-size: 1em;
    margin: 0;
    font-family: satoshi variable;
}
#skill img {
    height: 50px;
    width: 50px;
}
#skill.express img {
    filter:contrast(200%)
}



/* IFRAME */
.resume-overlay.none {
    display: none;
}
.resume-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


/* Gallery */
#Gallery {
    height: fit-content;
    padding-bottom: 200px;
}
.gallery-box {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-box h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: var(--default-white)
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-left: 0;
}
.gallery li {
    list-style: none;
}

.project {
    flex-shrink: 0;
    height: 400px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.img-wrap {
    position: relative;
    width: 60vw;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.img-wrap.one {
    background: vaR(--default-red);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.img-wrap.two {
    background: var(--default-green);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.img-wrap.three {
    background: var(--default-blue);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.img-wrap.four {
    background: var(--default-yellow);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.demo {
    width: 40vw;
    height: 100%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}
.demo.empty {
    background: var(--default-background);
    color: vaR(--default-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.demo:hover {
    transform: translateY(-15px);
    transition: .5s ease;
    box-shadow: 10px 20px 5px rgba(0, 0, 0, 0.35);

}

.project-card {
    padding: 25px;
    margin: 10px;
    color: var(--default-white);
    font-size: 1.5em;
}
.project-card h2 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: fit-content;
    padding: 5px;
}
.project-card.one h2 {
    border-bottom: 5px solid var(--default-red);
}
.project-card.two h2{
    border-bottom: 5px solid var(--default-green);

}
.project-card.three h2 {
    border-bottom: 5px solid var(--default-blue);
}
.project-card.four h2 {
    border-bottom: 5px solid var(--default-yellow);
}


/* CONTACT */
#Contact {
    background:rgb(29, 30, 35);
}
.contact-box {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contact-box h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: var(--default-blue);
}
.contact-options {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}
.contact-form label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgba(255, 255, 255, 0.5)
}
.contact-form label input, .contact-form label textarea {
    font-family: Mononoki;
    padding: 10px;
    border: none;
    font-size: 1em;
    outline: none;
    border-radius: 5px;
    background: var(--default-background);
    color: white;
}
.contact-form textarea {
    resize: none;
}
.contact-form button {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 2px solid var(--default-blue);
    background: none;
    color: var(--default-blue);
    font-family: mononoki;
    cursor: pointer;
    align-self: flex-start;

}
.contact-form button:hover {
    background: rgba(101, 192, 238);
    color: white;
    transition: .2s ease;
}
.socials-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socials-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.socials-links li {
    list-style: none;
    background: vaR(--default-background);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.5);
}
.socials-links li img {
    height: 2em;
    filter:invert(.8)
}
.socials-box, .contact-form {
    width: 30vw;
    border-radius: 5px;

}





@keyframes bounce {
    0%, 100% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(10px);
    }
}

.hidden  {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%)
}
.hidden.right {
    opacity: 0;
    transform: translateX(100%);
}
.hidden.up {
    opacity: 0;
    transform: translateY(-100%);
}

.visible, .visible.right, .visible.up{
    transform: translateX(0%);
    opacity: 1;
}