@import url("./Assets/mononoki");
body {
    margin: 0;
    padding: 0;
    background: var(--default-background);
    font-family: "Mononoki";
    overflow-y: scroll;
  
}
html {
    scroll-behavior: smooth;
}
:root {
    --default-red: rgb(206,54,92);
    --default-white: rgb(244, 244, 244);
    --default-green: rgb(92,179,129);
    --default-blue:rgb(101,192,238);
    --default-yellow: rgb(226,181,75);
    --default-background: rgb(23,24,28);
}
a {
    text-decoration: none;
    color: var(--default-white)
}

/* HEADER*/
.header {
    background: var(--default-background);
    box-sizing: border-box;
    z-index: 2;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid var(--default-white);
}
.header a {
    font-size: 1.25em;
}
.gh-logo {
    filter:invert(1)drop-shadow(1px 1px 2px var(--default-red));
    width: 2em;
    transition: .3s ease
}
.gh-logo:hover {
    filter: invert(1)drop-shadow(1px 1px 5px var(--default-green))
}
.header nav {
    display: flex;
    gap: 50px;
    align-items: center;
}
/* SECTIONS */
.section {
    height: 100vh;
    position: relative;
}
.scroll-logo {
    position: absolute;
    filter: invert(.5);
    bottom: 7%;
    left: 50%;
    animation: bounce 2s infinite
}
.scroll-logo:hover {
    filter: invert(1)
}
/* GREETNG */
#Greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-white);
    font-size: 2em;
}
.greeting-box {
    width: 40%;
    transform: translateY(-10%);
    text-align: center;
}
.highlight {
    color: var(--default-yellow);
}
/* ABOUT */
.about-box {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
}
.about-box h1 {
    font-size: 3em;
    color: var(--default-yellow);
    margin-bottom: 20px;
}
.about-details {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}
.about-details p {
    font-size: 2em;
    color: vaR(--default-white)
}
.about-box img {
    width: 350px;
    border: 2px solid black;
    justify-self: flex-end;

}
/* Gallery */
.gallery-box {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gallery-box h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: var(--default-yellow)
}
.carousel-container {
    width: 80vw;
    overflow: hidden;
    background: rgb(23,24,28);
    padding: 20px;
}
.gallery-carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 20px;
}
.gallery-carousel li {
    list-style: none;
}
.gallery-carousel::-webkit-scrollbar {
    display: none;
}
.project {
    flex-shrink: 0;
    width: 400px;
    height: 400px;
    border: 1px solid white;
}
.project video {
    width: 400px;
}
.project-card {
    background: white;
    padding: 10px;
}




@keyframes bounce {
    0%, 100% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(10px);
    }
}